html {
    font-size: 5vmin;
}

body {
                font-family: 'Montserrat', sans-serif;
                padding: 0; 
                margin: 0;
                background-color: #002D3A;
                }
            #box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }

            #title {
                font-size: 3rem;
                font-weight: bold;
                color: #EFECE4;
            }
            #center {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 7rem;
                font-variant-numeric: tabular-nums;
                color: #EFECE4;
            }
            #time {
                font-size: 1rem;
            }
            progress {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                width: 100%;
                height: 1rem;
                position: absolute;
                bottom: 0;
            }
            progress::-webkit-progress-bar {
                background: #000;
                box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
                border-radius: 0px;
            }
            progress::-webkit-progress-value {
                background-color: #EFECE4;
                border-radius: 0px;
            }